.eco {
  padding: 70px 20px 90px 20px;
}

.title {
  font-weight: 900;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: var(--black);
}

.description {
  margin-top: 20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  text-align: center;
  color: var(--black);

  span:nth-child(3) {
    display: block;
  }
}

@media (min-width: 480px) {
  .title {
    font-size: 40px;
  }

  .description span:nth-child(3) {
    display: inline;
  }
}

@media (min-width: 768px) {
  .eco {
    padding: 90px 20px 120px 20px;
  }

  .title {
    font-size: 48px;
  }

  .description {
    margin-top: 30px;
    font-size: 21px;
  }
}

@media (min-width: 1000px) {
  .description {
    margin: 30px auto 0 auto;
    width: 802px;
  }
}
